* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;

}

.fa-2x {
    font-size: 1.5rem !important;
}

/* homepage */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #1a1a1a;
}

.navbar-brand {
    color: #ffcc00;
    font-size: 35px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00;
}

.navbar-nav .dropdown-menu {
    background-color: #1a1a1a;
}

.navbar-nav .dropdown-item {
    color: #fff;
}

.navbar-nav .dropdown-item:hover {
    color: #ffcc00;
}

.navbar-nav .nav-link.booking {
    color: #ffcc00;
}

.navbar .login-no-hover:hover {
    background-color: transparent !important;
    color: #ffcc00 !important;
}

.navbar-search {
    position: absolute;
    right: 0;
    background: #343a40;
    /* Match navbar background */
    padding: 10px;
    z-index: 1050;
    /* Ensure it appears above other content */
}

.navbar-search input {
    max-width: 600px;
    /* Limit the search field width */
    margin: 0 auto;
    /* Center the input field */
    display: block;
}

.active-nav {
    color: #ffcc00 !important;
}

@media screen and (max-width: 992px) {
    .navbar .navbar-search-mobile {
        width: 100%;
        display: flex !important;
        justify-content: center;
        margin-top: 10px;
    }

    .search-icon {
        display: none !important;
    }
}

/* Carousel Section Start */
.carousel-item {

    height: 80vh;
}

@media screen and (max-width: 1600px) {
    .carousel-item {
        height: 75vh;
    }

}

@media screen and (max-width: 992px) {
    .carousel-item {
        height: 70vh;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item {
        height: auto;
    }
}

.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 200px;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-caption h1 {
    font-size: 60px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 18px;
}

.carousel-caption .btn {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
}

@media screen and (max-width: 1058px) {
    .slider-section {
        height: auto;
    }
}


/* Carousel Section End */
/* We Provide Section Start */
.we-provide-section {
    position: relative;
}

.we-provide {
    position: absolute;
    top: -44px;
    left: 0%;
    background-color: white;
    padding: 10px;
    width: auto;
    text-align: center;
}

.we-provide h5 {
    font-weight: bold;
    margin-bottom: 0;
}

.we-provide-section .owl-carousel {
    position: relative;
    width: 100%;
    background-color: #fff;
}

.we-provide-section .owl-carousel .owl-nav {
    position: absolute;
    background-color: #fff !important;
    width: auto;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.we-provide-section .owl-carousel .owl-prev,
.we-provide-section .owl-carousel .owl-next {
    position: absolute;
    font-size: 15px;
    border: none;
    background-color: #fff;
    padding: 12px;
    top: -44px;
}

.we-provide-section .owl-carousel .owl-prev {
    right: 80px;
}

.we-provide-section .owl-carousel .owl-next {
    right: 20px;
}

.we-provide-section .owl-carousel .owl-prev:hover,
.we-provide-section .owl-carousel .owl-next:hover {
    background-color: #ddd;
    cursor: pointer;
}

.we-provide-section .owl-carousel .item {
    display: flex;
    border: 1px solid #ccc;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.provide-icon {
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.we-provide-section .owl-theme .owl-dots .owl-dot {
    display: none !important;
}

@media (max-width: 767px) {
    .carousel-caption h1 {
        font-size: 1.5rem;
        /* Smaller title text on mobile */
    }

    .carousel-caption p {
        font-size: 1rem;
        /* Smaller paragraph text on mobile */
    }

    .carousel-caption .btn {
        font-size: 0.8rem;
        /* Smaller button text */
    }
}

/* We Provide Section End */
/* Available Section Start */
.container {
    text-align: center;
    padding: 30px 25px;
}


h1 {
    font-size: 2.5rem;
    color: #1a202c;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    color: #1a202c;
    margin-bottom: 30px;
}

.form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #1a202c;
}

.form-control,
.form-select {
    font-size: 1.1rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #1a202c;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

/* Available Section End */

/* About Section Start */




.nav-item {
    cursor: pointer;
    text-align: left;
}

.nav-item.active .badge {
    background-color: #ffc107;

}

.nav-item.active .line {
    background-color: #ffc107;
}

.line {
    width: 2px;
    height: 100%;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    top: 0;
}

.active-about-nav {
    color: #ffc107 !important;
}

/* For screens between 768px and 992px */
@media screen and (max-width: 992px) and (min-width: 768px) {
    .about-nav-responsive .nav-item {
        text-align: left !important;

    }


}

@media screen and (max-width: 767px) {
    .about-nav-responsive .nav-item {
        text-align: center !important;
        width: 100% !important;
    }
}

/* Rooms & Apartments Section Start*/
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px !important;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #212529 !important;
}

.card-text {
    color: #7f8c8d;
    margin: 10px 0px;

}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 10px 0px;
}

.btn-custom {
    background-color: #2c3e50;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

/* .rent-property {
    background-image: url(https://storage.googleapis.com/a1aa/image/6RmFXAl0oVrODFGPqph0T38LvLQ2R5NgWTfgFkNjI446LK4JA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 50px 0;
} */
.rent-property .card img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.rent-property .card-footer {
    margin-top: -25px;
    padding: 16px 16px !important;
    color: var(--bs-card-cap-color);
    background-color: #fff;
    border-top: none;

}




/* Rooms & Apartments Section End*/

/* Gallery Section Start */
.gallery-title {
    font-size: 3rem;
    font-weight: 700;
    color: #1a2b4c;
}

.gallery-subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    color: #6c757d;
}

.gallery-description {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
}

/* .btn-custom {
    background-color: #1a2b4c;
    color: #fff;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
} */

/* .btn-custom:hover {
    background-color: #163a6b;
} */

.gallery-image {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.gallery-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Gallery Section End */
/* achievements section */
.achievement-section {
    position: relative;
    background-image: url('https://storage.googleapis.com/a1aa/image/PWGDLPshtN5iDdQkZkydACT8bgzmHSq1JMpdN7wlXCuX3b8E.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
    height: auto;
}

.achievement-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(10px);
    opacity: 0.8;
    z-index: 0;
}

.achievement-section>* {
    position: relative;
    z-index: 1;
}

.achievement-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
}

.achievement-section h2 {
    font-size: 1.5rem;
    color: #fff;
}

/* achievements section end */

/* list your property contact */
.list-your-section {
    position: relative;
    background-image: url('https://storage.googleapis.com/a1aa/image/PWGDLPshtN5iDdQkZkydACT8bgzmHSq1JMpdN7wlXCuX3b8E.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
    height: auto;
}

.list-your-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(100px);
    opacity: 0.8;
    z-index: 0;

}

.list-your-section .container {
    position: relative;
    z-index: 1;
}



.list-your-section button {
    font-size: 1.1rem;
    padding: 10px 25px;
    color: #fff;
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

.list-your-section button:hover {
    background-color: #0056b3;
}

.list-your-section h6 {
    font-size: 1.3rem;
    color: #fff;
}

/* list your property contact */
/* Testimonial Section */
.testimonial-section {
    text-align: center;
    padding-top: 50px;
    position: relative;
}


.testimonial-section h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.testimonial-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    z-index: 2;
    position: relative;
}

.testimonial-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 25px;
    text-align: left;
    position: relative;
}

.testimonial-section .testimonial-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #ffc107;
    z-index: 9999;
}

.testimonial-section .testimonial-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #333;
}

.testimonial-section .testimonial-card h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #6c757d;
}

.testimonial-section .testimonial-card p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 15px;
}

.testimonial-section .testimonial-card .stars {
    font-size: 14px;
}

.testimonial-section .testimonial-card .stars i {
    color: #ffc107;
    margin: 0 2px;
}

.testimonial-section .owl-dots {
    margin-top: 20px;
}

.testimonial-section .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    transition: background 0.3s;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span {
    background: #ffc107;
}

.testimonial-section .owl-carousel .owl-prev {
    display: none;
}

.testimonial-section .owl-carousel .owl-next {
    display: none;
}

/* Testimonial Section */

/* Available  */
.contact-section {

    text-align: center;
}

.contact-section h1 {
    font-size: 36px;
    font-weight: bold;
    color: #2c3e50;
}

.contact-section p {
    font-size: 14px;
    color: #2c3e50;
    margin-bottom: 40px;
}

.contact-info {
    gap: 50px;
    margin-top: 20px;
}

.contact-info div {
    text-align: left;
}

.contact-info i {
    font-size: 24px;
    color: #2c3e50;
    margin-right: 10px;
}

.contact-info h5 {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    color: #2c3e50;
    margin: 0;
}

.social-icons a {
    color: #2c3e50;
    font-size: 22px;
    margin: 0.5rem;
    margin-left: 0;
}

.social-icons a i:hover {
    color: #ffcc00 !important;
    transition: all 0.3s ease-in-out;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .contact-section .contact-info {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}

@media screen and (max-width: 510px) {
    .contact-section .contact-info {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}

/* Blog Section  Starts */
.blog-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.blog-card-body {
    padding: 1rem;
}

.blog-card-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #2c3e50;
}
.blog-card-title a {
    color: #2c3e50;
    text-decoration: none;
}
.blog-card-title a:hover {
    color: #ffcc00;
    text-decoration: none;
}

.blog-card-text {
    font-family: 'Arial', sans-serif;
    font-size: 0.875rem;
    color: #7f8c8d;
}

.blog-card-footer {
    font-family: 'Arial', sans-serif;
    font-size: 0.875rem;
    color: #7f8c8d;
}

.blog-card img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Blog Section ends */
/* footer section */
.footer-section {
    background-color: #2c3e50;
    color: #fff;
    padding: 40px 0;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #f39c12;
}

.section-title {
    color: #f39c12;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-house-rent {
    display: flex;
    align-items: center;

}

.about-house-rent img {
    margin-right: 10px;

}

.about-house-rent h2 {
    color: #f39c12;
    font-size: 32px;
    font-weight: bold;
}

.place-category ul {
    list-style: none;
    padding: 0;
}

.place-category ul li {
    margin-bottom: 10px;
}


.place-category ul li a {
    color: #333;
    text-decoration: none;
}

.place-category ul li a:hover {
    color: #f39c12 !important;
    transition: all 0.3s ease-in-out;
}

/* footer section */
/* Bread Crumb  */

.breadcrumb-hero {
    position: relative;
    background-image: url('/assets/images/slider3.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.breadcrumb-overlay {

    /*Dark overlay for better text visibility */
    padding: 20px;
    border-radius: 8px;
}

.breadcrumb {
    display: inline-flex;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.breadcrumb .active {
    color: #ffd700;
    /* Highlight active item with a different color */
}

.breadcrumb a:hover {
    color: #ffd700;
}

@media (max-width: 768px) {
    .breadcrumb-hero {
        height: 200px;
        /* Adjust for smaller screens */
    }

    .breadcrumb-overlay {
        padding: 15px;
    }

    .breadcrumb {
        flex-direction: column;
    }
}

/* Bread Crumb */
/* FAQ */

.faq-header p {
    font-size: 18px;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h4 {
    margin: 0;
}

.toggle-icon {
    font-size: 18px;
    color: #ffd700;
}

.faq-answer {
    text-align: start !important;
    margin-top: 10px;
    display: none;
    font-size: 16px;
    color: #666;
}

.faq-answer p,
ul,
li,
ol {
    margin: 0;
}

.faq-answer ul {
    padding-left: 20px;
    margin-top: 10px;
}

.faq-answer ul li {
    list-style-type: disc;
}

.faq-answer ol {
    padding-left: 20px;
    margin-top: 10px;
}

.faq-answer ol li {
    list-style-type: decimal;
}

/* FAQ */